/*CSS Styling for the Top Menu Bar Component*/
#MenuBar {
    -fx-alignment: center;
    -fx-background-color: -fx-menu-bg-color;
    -fx-spacing: 30;
    -fx-border-color: -fx-menu-bottom-border-color;
    -fx-border-width: 0 0 4 0;
}

#MenuText {
    -fx-fill: -fx-menu-text-color;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7) , 10, 0.0, 1, 1);
}

#MenuLabel {
    -fx-text-fill: -fx-menu-text-color;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7) , 10, 0.0, 1, 1);
}

#MenuButton {
    -fx-background-color: -fx-normal-menu-button-bg-color;
    -fx-background-radius: 7;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-font-family: 'Segoe UI';
    -fx-border-color: -fx-normal-menu-button-border-color;
    -fx-text-fill: -fx-normal-menu-button-text-color;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1) , 10, 0.0, 1, 1);
}

#MenuButton:hover {
    -fx-background-color: -fx-hover-menu-button-bg-color;
    -fx-border-color: -fx-hover-menu-button-border-color;
    -fx-text-fill: -fx-hover-menu-button-text-color;
}

#MenuButton:disabled {
    -fx-opacity: 1;
    -fx-background-color: -fx-hover-menu-button-bg-color;
    -fx-text-fill: -fx-normal-menu-button-text-color;
}

#UserNameAndSettingsButtonLayout {
    -fx-alignment: center;
    -fx-spacing: 5;
}

#MenuTextField {
    -fx-background-color: -fx-normal-menu-button-bg-color;
    -fx-background-radius: 7;
    -fx-background-insets: 0;
    -fx-border-color: -fx-normal-menu-button-border-color;
    -fx-border-radius: 5;
    -fx-border-width: 2 2 2 2;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1) , 10, 0.0, 1, 1);
    -fx-text-fill: -fx-normal-menu-button-text-color;
    -fx-font-family: 'Segoe UI';
    //-fx-alignment: center;
}

.combo-box {
    -fx-background-color: -fx-normal-menu-button-bg-color;
    -fx-border-color: -fx-normal-menu-button-border-color;
    -fx-text-fill: -fx-normal-menu-button-text-color;
    -fx-background-radius: 7;
    -fx-background-insets: 0;
    -fx-border-radius: 5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1) , 10, 0.0, 1, 1);
}

combo-box .arrow, .combo-box .arrow-button {
    -fx-padding: 0 10 0 10;
    -fx-background-color: -fx-normal-menu-button-bg-color;
    -fx-border-color: -fx-normal-menu-button-border-color;
    -fx-font-size: 18;
}

.combo-box:hover {
    -fx-background-color: -fx-hover-menu-button-bg-color;
    -fx-text-fill: -fx-hover-menu-button-text-color;
    -fx-border-color: -fx-hover-menu-button-border-color;
}

.list-view, .list-cell {
    -fx-background-color: -fx-normal-menu-button-bg-color;
    -fx-border-color: -fx-normal-menu-button-border-color;
    -fx-text-fill: -fx-normal-menu-button-text-color;
    -fx-font-family: 'Segoe UI';
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-size: 15;
}

.list-view:hover, .list-cell:hover{
    -fx-background-color: -fx-hover-menu-button-bg-color;
    -fx-text-fill: -fx-hover-menu-button-text-color;
    -fx-border-color: -fx-hover-menu-button-border-color;
}

#SettingsTextStyling {
    -fx-text-fill: -fx-menu-text-color;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 11;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1) , 10, 0.0, 1, 1);
}

.color-picker {
    -fx-background-color: -fx-normal-menu-button-bg-color;
    -fx-border-color: -fx-normal-menu-button-border-color;
    -fx-border-radius: 5;
    -fx-border-width: 2 2 2 2;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1) , 10, 0.0, 1, 1);
}

.color-picker .color-picker-label .text {
    -fx-fill: -fx-normal-menu-button-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-font-family: 'Segoe UI';
}

#ThemeSettingsPane {
    -fx-background-color: -fx-menu-bg-color;
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-padding: 10 0 0 0;
}

#ThemeSettingsBox {
    -fx-hgap: 20.0;
    -fx-vgap: 10.0;
    -fx-alignment: center;
    -fx-orientation: horizontal;
    -fx-border-color: -fx-menu-bottom-border-color;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 5 0 25 0;
}

#SettingsLabelStyling {
    -fx-text-fill: -fx-menu-text-color;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-border-color: -fx-menu-bottom-border-color;
    -fx-border-width: 0 0 3 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1) , 10, 0.0, 1, 1);
}

#NewSeriesPane {
    -fx-background-color: -fx-menu-bg-color;
    -fx-border-color: -fx-menu-bottom-border-color;
    -fx-border-width: 4;
    -fx-alignment: center;
    -fx-padding: 20 20 20 20;
    -fx-spacing: 15;
}

#SettingsLabel {
    -fx-spacing: 3;
}

/*Collection Styling*/
#Collection {
    -fx-background-color: -fx-collection-bg-color;
    -fx-padding: 20 0 20 0;
    -fx-hgap: 40;
    -fx-vgap: 40;
    -fx-alignment: center;
}

#CollectionScroll {
    -fx-focus-color: transparent;
    -fx-padding: -1 0 0 0;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

#SeriesCard {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0.0, 2, 2);
}

#ImgScaling {
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-background-radius: 5px 5px 5px 5px;
}

#SeriesStatus {
    -fx-background-color: -fx-collection-link-normal-bg-color;
    -fx-border-radius: 0px 0px 5px 5px;
    -fx-background-radius: 0px 0px 5px 5px;
    -fx-text-fill: -fx-collection-link-normal-text-color;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7) , 10, 0.0, 1, 1);
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 16.5;
    -fx-font-family: 'Segoe UI';
}

#LeftSideCard:hover > #SeriesStatus {
    -fx-background-color: -fx-collection-link-hover-bg-color;
    -fx-text-fill: -fx-collection-link-hover-text-color;
    -fx-border-radius: 0px 0px 5px 5px;
    -fx-background-radius: 0px 0px 5px 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7) , 5, 0.0, 1, 1);
}

#AniListLink {
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-background-radius: 5px 5px 5px 5px;
    -fx-padding: 0 0 0 -1;
}

#Publisher {
    -fx-fill: -fx-collection-subheader-color;
    -fx-font-size: 11.5;
    -fx-font-family: 'Segoe UI Semibold Italic';
}

#SeriesTitle {
    -fx-background-color: -fx-collection-card-main-bg-color;
    -fx-fill: -fx-collection-title-color;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1) , 10, 0.0, 1, 1);
}

#Mangaka {
    -fx-fill: -fx-collection-subheader-color;
    -fx-font-size: 12;
    -fx-font-family: 'Segoe UI Semibold';
}

#SeriesDescriptionText {
    -fx-fill: -fx-collection-desc-color;
    -fx-font-size: 14;
    -fx-spacing: 1.6;
    -fx-font-family: 'Segoe UI';
}

#SeriesDescriptionWrap {
    -fx-border-width: 0;
    -fx-background-color: -fx-collection-card-main-bg-color;
}

#SeriesDescriptionScroll {
    -fx-background-color: transparent;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

#VolProgressTxt {
    -fx-background-color: transparent;
    -fx-padding: 3 0 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1) , 10.0, 0.0, 1.0, 1.0);
    -fx-font-weight: bold;
    -fx-font-family: 'Segoe UI';
    -fx-text-fill: -fx-collection-normal-volprogress-text-color;
    -fx-font-size: 16;
    -fx-alignment: center;
}

#VolProgressButton {
    -fx-text-fill: -fx-collection-normal-volprogress-text-color;
    -fx-font-family: 'Segoe UI';
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1) , 10.0, 0.0, 1.0, 1.0);
}

#VolProgressButton:hover {
    -fx-text-fill: -fx-collection-hover-volprogress-text-color;
}

#VolProgressButton:disabled {
    -fx-text-fill: -fx-collection-hover-volprogress-text-color;
}

#ProgressBar {
    -fx-control-inner-background: -fx-collection-progress-bar-bg-color;
    -fx-text-box-border: -fx-collection-progress-bar-border-color;
    -fx-accent: -fx-collection-progress-bar-color;
    -fx-padding: 8 0 7 15;
    -fx-shadow-highlight-color: transparent;
    -fx-background-radius: 5;
}

#CollectionIconButton {
    -fx-background-radius: 0px 0px 0px 5px;
    -fx-border-radius: 0px 0px 0px 5px;
    -fx-padding: 2 0 0 0;
    -fx-background-color: -fx-collection-button-icon-color;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1) , 10.0, 0.0, 1.0, 1.0);
}

#CollectionIcon{
    -fx-icon-color: -fx-collection-normal-icon-color;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 1) , 10.0, 0.0, 1.0, 1.0);
}

#CollectionIconButton:hover > #CollectionIcon {
    -fx-icon-color: -fx-collection-hover-icon-color;
}

#SeriesCardBottomPane {
    -fx-background-color: -fx-collection-bottom-card-bg-color;
    -fx-background-radius: 0px 0px 5px 5px;
    -fx-border-radius: 0px 0px 5px 5px;
}

#RightSideCard {
    -fx-background-color: -fx-collection-card-main-bg-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.text-area {
    -fx-background-color: -fx-collection-usernotes-bg-color;
    -fx-border-color: -fx-collection-usernotes-border-color;
    -fx-text-fill: -fx-collection-usernotes-text-color;
    -fx-background-radius: 7;
    -fx-background-insets: 0;
    -fx-border-radius: 5;
    -fx-border-width: 2 2 2 2;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 14;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical {
    -fx-pref-width: 0;
    -fx-opacity: 0;
}

*.focus {
    -fx-outline: none;
}

#CollectionTextField{
    -fx-background-color: -fx-collection-usernotes-bg-color;
    -fx-border-color: -fx-collection-usernotes-border-color;
    -fx-text-fill: -fx-collection-usernotes-text-color;
    -fx-background-radius: 7;
    -fx-background-insets: 0;
    -fx-border-radius: 5;
    -fx-border-width: 2 2 2 2;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1) , 10, 0.0, 1, 1);
    -fx-alignment: center;
    -fx-pref-width: 84;
}